$main-color: #312f55;
$custome-color: #eeeeee;
$redd : #FF7766;

@font-face {
    font-family: "cairoFont";
    src: url(../fonts/Cairo-Regular.ttf);
}

body {
    font-family: "cairoFont", 'Cambria, Cochin, Georgia, Times, Times New Roman, serif' !important;
}

// navbar
.top-menu {
    .navbar {
        background-color: rgba($main-color, 0.8) !important;
        font-weight: bold !important;
        padding: 0 100px !important;

        .navbar-nav {
            li>a {
                transition-property: background-color;
                transition: .5s;
                color: $main-color !important;

                &:hover {
                    background-color: $custome-color;
                    color: $redd !important;
                    border-bottom: 1px solid $redd;
                }
            }
        }
    }
}

.carousel-top {
    .row {
        display: block;

        .carousel-item {
            img {
                height: 500px;
            }

            .overlay {
                position: absolute;
                background-color: rgba(100, 100, 150, 0.5) !important;
                top: 0;
                right: 0;
                height: 100%;
                width: 100%;
                display: flex !important;
                flex-flow: column;
                align-items: center;
                justify-content: center;
                z-index: 1;
            }
        }
    }

    .carousel-indicators {
        li {
            width: 15px;
            height: 15px;
            border-radius: 50%;
            margin: 20px 5px 0 0;

            &.active {
                background-color: $main-color;
            }
        }
    }

    .carousel-caption {
        h5 {
            font-weight: bold;
            color: white;
            margin-bottom: 50px;
            font-size: 50px;
        }

        p {
            width: 50%;
            color: $custome-color;
        }
    }
}

// custom btn 
.custom-btn {
    padding: 10px 20px;
    color: $main-color !important;
    border: 1px solid $main-color !important;
    font-weight: bold !important;

    &:hover,
    &:focus {
        background-color: $main-color;
        color: $redd !important;
        border: 1px solid $redd !important;
    }
}

.who-are-we {
    .custom-paragraph {
        line-height: 2em;
    }



    .company-name {
        color: $main-color;
        font-weight: bold !important;

    }
}

.custom-btn-main {
    padding: 20px;
    background-color: $main-color !important;
    color: white;
    font-weight: bold;
    width: 250px;

    &:hover {
        color: $redd;
    }
}

.latest-projects {
    background-color: rgba($main-color, 0.4);

    #latest-company-projects {
        width: 80%;

        .thumbnail2 {
            position: relative;
            margin-bottom: 20px;
            margin-top: 20px;

            .caption2 {
                position: absolute;
                top: 0;
                left: 0;
                background: rgba(65, 155, 155, 0.5);
                max-width: 100%;
                height: 100%;
                padding: 2%;
                text-align: center;
                color: #fff !important;
                display: none;
                align-content: center;
                h5{                    
                    font-size: 25px;
                }
                p{
                    font-size: 15px;
                }
            }

            .project-category {
                position: absolute;
                right: 0px;
                top: 5%;
                font-weight: bold;
                background-color: rgba(240, 240, 240, 0.75);
                padding: 10px;
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
                box-shadow: 0px 5px 20px 0px #202020;
            }

        }

        a.carousel-control-next {
            position: absolute;
            left: -5%;
            color: #252222;
            width: 0;
        }

        a.carousel-control-prev {
            position: absolute;
            right: -6%;
            color: #252222;
            width: 0;
        }
    }

    .custom-img-latest-work {
        height: 400px !important;
        width: 100%!important;
    }
}


@media(min-width:1199px) {
    .top-menu {
        .carousel-item {
            img {
                height: 600px !important;
            }

            .carousel-caption {
                h5 {
                    font-size: 40px !important;
                }

                p {
                    width: 70% !important;
                }
            }
        }
    }

}

@media(max-width:991px) {
    .top-menu {
        .navbar {
            padding: 0 20px !important;

            .navbar-nav {
                a {
                    border-bottom: none !important;
                    padding-right: 5px;
                }
            }
        }
    }
}

@media(max-width:767px) {
    .carousel-item {
        img {
            height: 400px !important;
        }

        .carousel-caption {
            h5 {
                font-size: 30px !important;
            }

            p {
                width: 80% !important;
            }
        }
    }
}